<h2 style="color: #70024b"> Hello <%= @customer.customer_name %> ! We are Lagomdecor  </h2>

<p style="color: #70024b; font-weight: bold;">Our support team will contact you ASAP. Please wait a while...<br><br>

<p style="color: green;"> This is a computer generated email. Please do not reply </p>

