<h2 style="color: #70024b"> yay ! someone is interested in our products... </h2>

<p style="color: #70024b; font-weight: bold;">Customer Inquiry,<br><br>

Name: <%= @customer.customer_name %> <br>
Email: <%= @customer.email %><br>
Phone: <%= @customer.phone %></p>


<p style="color: green;"> <%= @customer.customer_name %> is waiting for your reply </p>

