<body class="page-shop">

        <div id="wrapper">
            <!-- header begin -->
            <header class="header-bg">
               <div class="info">
                <div class="container">
                 <div class="row">
                  <div class="col-md-12">
                   <div class="col">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                   <div class="col">Phone <span class="id-color"><strong>0978.999.999</strong></span></div>
                   <div class="col">Email <span class="id-color"><strong>support@lagomdecor.vn</strong></span></div>
                   <!-- social icons -->
                   <div class="col social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope-o"></i></a>
                </div>
                <!-- social icons close -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- logo begin -->
            <div id="logo">
                <a href="index.html">
                    <img class="logo" src="images/logo.png" alt="">
                </a>
            </div>
            <!-- logo close -->

            <!-- small button begin -->
            <span id="menu-btn"></span>
            <!-- small button close -->

            <!-- mainmenu begin -->
            <nav>
                <ul id="mainmenu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects-contained-3-cols.html">Projects</a></li>
                    <li><a href="gallery-3-cols.html">InteriorDesign</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="services.html">Consulting</a></li>  
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- mainmenu close -->

    </div>
</div>
</header>
<!-- header close -->

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Products</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Products</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row" id="sofa">
                    <ul class="products">
                        <li class="col-md-4 product">
                            <img src="images/shop/sofa/1.jpg" class="img-responsive" alt="">
                            <h4>Sofa sample-01</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('sofa', 'sample-01')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/sofa/2.jpg" class="img-responsive" alt="">
                            <h4>Sofa sample-02</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('sofa', 'sample-02')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/sofa/3.jpg" class="img-responsive" alt="">
                            <h4>Sofa sample-03</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('sofa', 'sample-03')">Order this</a>
                        </li>
                    </ul>
                </div>

                <div class="row" id="chair">
                    <ul class="products">
                        <li class="col-md-4 product">
                            <img src="images/shop/chair/1.jpg" class="img-responsive" alt="">
                            <h4>Chair sample-01</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('chair', 'sample-01')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/chair/2.jpg" class="img-responsive" alt="">
                            <h4>Chair sample-02</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('chair', 'sample-02')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/chair/3.jpg" class="img-responsive" alt="">
                            <h4>Chair sample-03</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('chair', 'sample-03')">Order this</a>
                        </li>
                    </ul>
                </div>

                <div class="row" id="console">
                    <ul class="products">
                        <li class="col-md-4 product">
                            <img src="images/shop/console/1.jpg" class="img-responsive" alt="">
                            <h4>Console sample-01</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('console', 'sample-01')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/console/2.jpg" class="img-responsive" alt="">
                            <h4>Console sample-02</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('console', 'sample-02')">Order this</a>
                        </li>
                    </ul>
                </div>

                <div class="row" id="decoration">
                    <ul class="products">
                        <li class="col-md-4 product">
                            <img src="images/shop/decoration/1.jpg" class="img-responsive" alt="">
                            <h4>Decoration sample-01</h4>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('decoration', 'sample-01')">Order this</a>
                        </li>
                    </ul>
                </div>

                <div class="row" id="fif">
                    <ul class="products">
                        <li class="col-md-4 product">
                            <img src="images/shop/fif/1.jpg" class="img-responsive" alt="">
                            <h4>Fit in Furniture sample-02</h4>
                            <div class="price">$210</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('fit in furniture', 'sample-01')">Order this</a>
                        </li>
                        <li class="col-md-4 product">
                            <img src="images/shop/fif/2.jpg" class="img-responsive" alt="">
                            <h4>Fit in Furniture sample-02</h4>
                            <div class="price">$210</div>
                            <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('fit in furniture', 'sample-01')">Order this</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sidebar" class="col-md-3">
                <div class="widget widget_category">
                    <h4>Product Category</h4>
                    <ul>
                        <li id="btnall"><a href="#">All</a></li>
                        <li id="btnsofa"><a href="#">Sofa</a></li>
                        <li id="btnchair"><a href="#">Chair / Dining Chair</a></li>
                        <li id="btnconsole"><a href="#">Console</a></li>
                        <li id="btndecoration"><a href="#">Decorations</a></li>
                        <li id="btnfitinfurniture"><a href="#">Fit in Furniture</a></li>
                    </ul>
                </div>
                <div class="widget widget_top_rated_product">
                    <h4>Top Rated Product</h4>
                    <ul>
                        <li>
                            <img src="images/shop/1.jpg" alt="">
                            <div class="text">
                                Woven Single Seat Sofa
                                <div class="price">$420</div>
                            </div>
                        </li>
                        <li>
                            <img src="images/shop/2.jpg" alt="">
                            <div class="text">
                                Classic Circular Table
                                <div class="price">$210</div>
                            </div>
                        </li>
                        <li>
                            <img src="images/shop/3.jpg" alt="">
                            <div class="text">
                                Woven Square Chair
                                <div class="price">$180</div>
                            </div>
                        </li>
                        <li>
                            <img src="images/shop/4.jpg" alt="">
                            <div class="text">
                                Multifunction Bed Red
                                <div class="price">$850</div>
                            </div>
                        </li>
                        <li>
                            <img src="images/shop/5.jpg" alt="">
                            <div class="text">
                                Minimalist Corner Desk
                                <div class="price">$240</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- pop up contact form START -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
<form id="my_form" onsubmit="submitForm(); return false;">
<div class="modal-body">
Please fill your contact details, One of our staff will contact you soon...
<div class="form-group">
<label for="n">Your Name:</label> 
  <p><input id="n" class="form-control" placeholder="Name" required autocomplete="name"></p>
  </div>
  <div class="form-group">
<label for="e">your Email:</label> 
  <p><input id="e"class="form-control" placeholder="Email Address" type="email" required autocomplete="email"></p>
  </div>
    <div class="form-group">
<label for="p">your Phone Number:</label> 
  <p><input id="p"class="form-control" placeholder="Phone number" type="number" required autocomplete="tel"></p>
  </div>
  <div class="form-group">
<label for="m">Additional requests:</label> 
  <textarea id="m" class="form-control" placeholder="place your request here..." rows="5"></textarea>
  </
  <p><input id="category" type="hidden" value=""></p>
  <p><input id="productid" type="hidden" value=""></p>
  <div class="modal-footer">
    <p><input id="btnclose" class="btn btn-secondary" type="button" value="clsoe" data-dismiss="modal">
    <input id="btnsubmit" class="btn btn-primary" type="submit" value="send inquiry"> <span id="status"></span></p>
</div>
  </div>
</form>
</div>
</div>
</div>
<!-- pop up contact form END -->

<!-- footer begin -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/logo.png" class="logo-small" alt=""><br>
                We are a team based on HCM, Viet Nam expertise in Interior Design. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </div>

            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <h3>Latest News</h3>
                    <ul>
                        <li><a href="#">5 Things That Take a Room from Good to Great</a></li>
                        <li><a href="#">Functional and Stylish Wall-to-Wall Shelves</a></li>
                        <li><a href="#">9 Unique and Unusual Ways to Display Your TV</a></li>
                        <li><a href="#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></li>
                        <li><a href="#">How to Make a Huge Impact With Multiples</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="widget widget-address">
                    <address>
                        <span>Địa chỉ: 114 Đường số 1, Phường 16, Quận Gò Vấp, Hồ Chí Minh</span>
                        <span><strong>Phone:</strong>0978.999.999</span>
                        <span><strong>Fax:</strong>0978.999.999</span>
                        <span><strong>Email:</strong><a href="support@lagomdecor.vn">support@lagomdecor.vn</a></span>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; Copyright 2018 - Archi Interior Design Template by <span class="id-color">Designesia</span>                     
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                        <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <a href="#" id="back-to-top"></a>
</footer>
<!-- footer close -->
</div>

        <script type="text/javascript">
            document.getElementById("btnall").onclick = function() {hideFunction("all")};
            document.getElementById("btnsofa").onclick = function() {hideFunction("sofa")};
            document.getElementById("btnchair").onclick = function() {hideFunction("chair")};
            document.getElementById("btnconsole").onclick = function() {hideFunction("console")};
            document.getElementById("btndecoration").onclick = function() {hideFunction("decoration")};
            document.getElementById("btnfitinfurniture").onclick = function() {hideFunction("fif")};

            var getId;
            function hideFunction(getId) {
                var divs = ["sofa", "chair", "console", "decoration", "fif"];
                var i, divId, div;
                for(i = 0; i < divs.length; i++) {
                    divId = divs[i];
                    if(getId == "all"){
                        div = document.getElementById(divId);
                        div.style.display = "block";
                    }else{
                        if(divId != getId){
                            div = document.getElementById(divId);
                            div.style.display = "none";
                        }else{
                            div = document.getElementById(divId);
                            div.style.display = "block";
                        }
                    }
                }
            }
        </script>

        </body>