<body class="page-services">

        <div id="wrapper">
            <!-- header begin -->
            <header class="header-bg">
             <div class="info">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="col">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                         <div class="col">Phone <span class="id-color"><strong>0978.999.999</strong></span></div>
                         <div class="col">Email <span class="id-color"><strong>support@lagomdecor.vn</strong></span></div>
                         <!-- social icons -->
                         <div class="col social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                        <!-- social icons close -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- logo begin -->
                    <div id="logo">
                        <a href="index.html">
                            <img class="logo" src="images/logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo close -->

                    <!-- small button begin -->
                    <span id="menu-btn"></span>
                    <!-- small button close -->

                    <!-- mainmenu begin -->
                    <nav>
                        <ul id="mainmenu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="projects-contained-3-cols.html">Projects</a></li>
                            <li><a href="gallery-3-cols.html">InteriorDesign</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="services.html">Consulting</a></li>  
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- mainmenu close -->

            </div>
        </div>
    </header>
    <!-- header close -->

    <!-- subheader -->
    <section id="subheader" data-speed="8" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Consulting</h1>
                    <ul class="crumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="sep">/</li>
                        <li>Consulting</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->

    <!-- content begin -->
    <section id="section-steps" class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <h1>Consulting Process</h1>
                    <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-12">
                    <div class="de_tab tab_steps">
                        <ul class="de_nav">
                            <li class="active wow fadeIn" data-wow-delay="0s"><span>What is your style ?</span><div class="v-border"></div>
                            </li>
                            <li class="wow fadeIn" data-wow-delay=".4s"><span>From style to solution</span><div class="v-border"></div>
                            </li>
                            <li class="wow fadeIn" data-wow-delay=".8s"><span>Realization of solution</span><div class="v-border"></div>
                            </li>
                            <li class="wow fadeIn" data-wow-delay="1.2s"><span>Construction &amp; installation</span><div class="v-border"></div>
                            </li>
                            <li class="wow fadeIn" data-wow-delay="1.6s"><span>The apartment is ready to welcome you</span><div class="v-border"></div>
                            </li>
                        </ul>

                        <div class="de_tab_content">

                            <div id="tab1" style="font-size: medium;">
                                Customize your interior style simply and interestingly with Lagomdecor's test.
                            </div>

                            <div id="tab2" style="font-size: medium;">
                                In just 2 hours of talking to Home Stylist, you will receive a package of solutions including: design (with products available at Lagomdecor) and quotes.
                            </div>

                            <div id="tab3" style="font-size: medium;">
                                Get a more intuitive look through 3D drawings and get detailed quotes based on the solution.
                            </div>
                            <div id="tab4" style="font-size: medium;">
                                The progress of the works is guaranteed by Lagomdecor will update you weekly via Email.
                            </div>

                            <div id="tab5" style="font-size: medium;">
                             Enjoy the new private and cozy space in your own way!
                         </div>

                     </div>

                 </div>
             </div>
         </div>
     </div>
 </section>

 <!-- FAQ section START -->
 <section id="section-faq" style="background-color: rgb(255, 183, 0, 0.8); padding-top: 20px; padding-bottom: 20px; padding-right: 70px; padding-left: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                <h1>Frequently Asked Questions</h1>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>
        </div>
        <div class="panel-group accordion text-light" id=accordion>
            <% @consulting.each do |c| %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class=panel-title> <a data-toggle=collapse data-parent=#accordion href=#<%= c.id %>> <i class="switch fa fa-plus"></i> <%= c.title %></a> </h4> </div>
                    <div id=<%= c.id %> class="panel-collapse collapse">
                        <div class=panel-body><%= c.text %></div>
                    </div>
                </div>
                <% end -%>

                                    </div>
                                </section>
                                <!-- FAQ section END -- >

                                    <!-- footer begin -->
                                    <footer>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="images/logo.png" class="logo-small" alt=""><br>
                                                    We are a team based on HCM, Viet Nam expertise in Interior Design. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="widget widget_recent_post">
                                                        <h3>Latest News</h3>
                                                        <ul>
                                                            <li><a href="#">5 Things That Take a Room from Good to Great</a></li>
                                                            <li><a href="#">Functional and Stylish Wall-to-Wall Shelves</a></li>
                                                            <li><a href="#">9 Unique and Unusual Ways to Display Your TV</a></li>
                                                            <li><a href="#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></li>
                                                            <li><a href="#">How to Make a Huge Impact With Multiples</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h3>Contact Us</h3>
                                                    <div class="widget widget-address">
                                                        <address>
                                                            <span>Địa chỉ: 114 Đường số 1, Phường 16, Quận Gò Vấp, Hồ Chí Minh</span>
                                                            <span><strong>Phone:</strong>0978.999.999</span>
                                                            <span><strong>Fax:</strong>0978.999.999</span>
                                                            <span><strong>Email:</strong><a href="support@lagomdecor.vn">support@lagomdecor.vn</a></span>
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

        <!--<div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyright 2018 - Archi Interior Design Template by <span class="id-color">Designesia</span>                     
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <a href="#" id="back-to-top"></a>
    </footer>
    <!-- footer close -->

</div>
</body>