<ol class="breadcrumb" style="margin-left: 10px; margin-right: 10px;">
  <li class="breadcrumb-item">
    <%= link_to 'DASHBOARD', admin_dashboards_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'PROJECTS', admin_interiorideas_path %>
  </li>
  <li class="breadcrumb-item active">EDIT</li>
</ol>

<%= render 'form' %>