<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="#">Dashboard</a>
</li>
<li class="breadcrumb-item active">Home</li>
<%= link_to 'Add new Comment', new_admin_comment_path, :class => 'btn btn-success left-right' %>
</ol>

<%= render 'admin/comments/index' %>