<ol class="breadcrumb" style="margin-left: 10px; margin-right: 10px;">
<li class="breadcrumb-item">
  <a href="#">Dashboard</a>
</li>
<li class="breadcrumb-item active">Home</li>
</ol>

<%= render 'admin/comments/index' %>